@{
    Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>@Model["vendor"].Name<br><span class="vendor-desc">@Model["vendor"].Description</span></h1>
<a href='/vendors/@Model["vendor"].Id/edit'>↯ Edit Vendor</a>
<hr>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>★ New Order</a></p>

@if (@Model["orders"].Count == 0)
{
    <p>No orders yet!</p>
}

<ul>
    @foreach (Order order in Model["orders"])
    {
        <li>@order.Title<br>
        Description: @order.Description<br>
        Date Placed: @order.Date<br>
        Price: $@order.Price</li>
    }
</ul>

<hr>
<a href='/vendors'>← Back to My Vendors</a>